/* BOTONES*/
.btnMinimizar,
.btnTema {
  /*Relleno o tamaño de los botones tema y minimizar*/
  padding: 2px;
}

.btnSesion {
  /*Estilos especificos del boton iniciar sesion (completa y minimizada)*/
  color: var(--textoBlanco);
  padding: 10px;
  font-size: 20px;
}

.btnSesion .text-mini {
  display: none;
}

.btnSesion .text-completo {
  display: inline;
}

.btnMinimizar:hover,
.btnTema:hover,
.btnSesion:hover {
  /*Cambio de color de los botones al deslizar*/
  background-color: rgb(34, 108, 204);
  border-color: var(--textoBlanco);
}

.barraVertical button {
  /*Estilo generales para los 3 botones (tema, minimizar y sesion)*/
  transition: var(--transition);
  background: var(--fondoBotones);
  border-style: lightgray;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  border-radius: 10px;
}

.destacadaBotones {
  display: flex;
  gap: 20px;
}

.destacadaBotones a {
  /*Estilo de los botones tailer y ver mas (E33)*/
  color: white;
  transition: var(--transition);
  background: #ff4455;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.7vw;
  padding: 0.85vh 1.1458vw;
  border-radius: 6px;
}

.destacadaBotones a:hover {
  /*Animacion de los botones del trailer y ver mas (E33)*/
  background: #ff1a24;
  transform: translateY(-3px);
}

.enviar .boton {
  background: var(--fondoBotones);
  color: white;
  font-style: bold;
  font-size: 16px;
  width: 100%;
  height: 48px;
  border-radius: 8px;
}
