:root {
  --fondoOscuro: #111418;
  --fondoClaro: #1a1e23;

  --fondoCarta: #1f2328;
  --fondoHover: #292e35;
  --fondoBotones: rgba(34, 108, 204, 0.788);

  --textoBlanco: #ffffff;
  --textGris: #d3ddd9;

  --fondoFormulario: #1a1e23;

  --anchoBarraExpandida: 300px;
  --anchoBarraColapsada: 88px;
  --transition: 0.3s ease;

  font-family: "Poppins", system-ui, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos Modo Oscuro y Claro*/
body {
  background: var(--fondoOscuro);
  color: var(--textoBlanco);
  display: flex;
  transition: var(--transition);
}

body.tema-claro {
  --fondoOscuro: #f3f3f3;
  --fondoClaro: #ffffff;

  --fondoCarta: #dadada;
  --fondoHover: #d7d7d7;

  --fondoFormulario: #cacaca;

  --textoBlanco: #000000;
  --textGris: #444444;
}

body.tema-claro .barraVertical-nav img {
  filter: brightness(0) invert(0);
}

/* Barra de Navegacion */
.barraVertical {
  background: var(--fondoClaro); /*Color del fondo de la barra*/
  width: var(--anchoBarraExpandida); /*Tamaño de la barra*/
  height: 100%; /*Altura de la barra*/
  padding: 1.852vh 15px; /*Relleno de arriba y izquierda*/
  display: flex; /*Flexibilidad en la barra*/
  flex-direction: column; /*Direccion de la flexibilidad*/
  position: fixed; /*Hace que la barra este estacionaria*/
}

.barraVertical-logo {
  display: flex; /*Flexibilidad*/
  justify-content: center; /*Centra el contenido dentro de la clase*/
}

.logoIcono {
  position: relative; /*Posicion del logo*/
  top: 10px; /*Espacio de arriba del logo*/
  width: 48px; /*Ancho del logo*/
  height: 48px; /*Altura del logo*/
  margin-right: 12px; /*Espacio entre la derecha del logo*/
}

.logoTexto {
  color: var(--textoBlanco); /*Color del titulo (Gamepedia)*/
  font-size: 26px; /*Tamaño del tiutlo*/
  font-weight: bold; /*Titulo en negrita*/
}

.barraVertical-nav li {
  margin: 2vw; /*Espacio entre el contenido de la lista*/
  font-size: 20px; /*Tamaño de la letra de los tabs*/
  margin-left: 0.15vw; /*Espacio entre la parte izquierda lista*/
  list-style-type: none; /*Desaparecer los puntos de los tabs*/
}

.barraVertical-nav a {
  color: var(--textGris); /*Color del texto de los tabs*/
  padding: 1.67vh; /*Relleno entre el contenido de los tabs*/
  border-radius: 8px; /*Ajuste de los borde redondos de los tabs*/
  width: 100%; /*Tamaño horizontal de los tabs*/
  min-height: 48px; /*Tamaño minimo de altura entre los tabs*/
  display: flex; /*Flexibilidad*/
  align-items: center; /*Centrar el contenido de los tabs*/
  text-decoration: none; /*Quitar la linea del href*/
}

.barraVertical-nav a:hover {
  background: var(--fondoHover); /*Cambiar el color del fondo al deslizar*/
  color: var(--textoBlanco); /*Cambiar el color del texto al deslizar*/
}

.barraVertical-nav img {
  margin-right: 12px; /*Espacio entre el icono y texto de la lista*/
  filter: brightness(0) invert(1); /*Invertir color de los iconos para el modo claro*/
}

.barraVertical-footer {
  display: grid; /*pie de pagina de la barra en forma grid*/
  position: absolute; /*Posicion de la pie de pagina de la barra*/
  bottom: 0; /*Que esa posicion sea todo abajo*/
  margin-bottom: 16px; /*Espacio entre el borde final de la barra y el contenido (botones)*/
  gap: 20px; /*Espacio entre el contenido (botones)*/
}

/* Barra de Navegacion Colapsada */
.barraVertical.colapsada {
  width: var(--anchoBarraColapsada); /*Ancho de la barra colapsada*/
}

.barraVertical.colapsada .logoTexto {
  /*Esconder el titulo en la barra colapsada*/
  opacity: 0;
  width: 0;
  overflow: hidden;
}

.barraVertical.colapsada .barraVertical-logo {
  margin-left: 85px; /*Espacio entre la inzquierda del logo*/
}

.barraVertical.colapsada .barraVertical-nav a {
  margin-left: 8px;
  justify-content: center;
}

.barraVertical.colapsada .barraVertical-nav img {
  margin-left: 0;
  margin-right: 0;
  width: 1.5625vw;
  height: 2.778vh;
}

.barraVertical.colapsada .barraVertical-nav .label {
  position: absolute;
  overflow: hidden;
  left: 0px;
  width: 0px;
  height: 0px;
}

.barraVertical.colapsada .btnSesion .text-mini {
  display: inline;
  text-align: center;
}

.barraVertical.colapsada .btnSesion .text-completo {
  display: none;
}

.barraVertical,
.barraVertical * {
  transition: var(--transition);
}

.barraVertical.colapsada ~ .contenidoPrincipal {
  /*Espacio entre la barra colapsada y el contenido principal*/
  margin-left: var(--anchoBarraColapsada);
  width: calc(100% - var(--anchoBarraColapsada));
}

.barraVertical ~ .contenidoPrincipal {
  /*Espacio entre la barra completa y el contenido principal*/
  margin-left: var(--anchoBarraExpandida);
  width: calc(100% - var(--anchoBarraExpandida));
}

/* Botones */
.btnMinimizar,
.btnTema {
  padding: 2px;
}

.btnSesion {
  color: var(--textoBlanco);
  padding: 10px;
  font-size: 20px;
}

.btnSesion .text-mini {
  display: none;
}

.btnSesion .text-completo {
  display: inline;
}

.btnMinimizar:hover,
.btnTema:hover,
.btnSesion:hover {
  background-color: rgb(34, 108, 204);
  border-color: var(--textoBlanco);
}

.barraVertical button {
  transition: var(--transition);
  background: var(--fondoBotones);
  border-style: lightgray;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  border-radius: 10px;
}

/* Seccion de Juego Destacado */
.contenidoPrincipal {
  margin-left: var(--anchoBarraExpandida);
  width: calc(100% - var(--anchoBarraExpandida));
  padding: 50px;
}

.destacada {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  height: 600px;
  padding: 50px;
  border-radius: 18px;
  margin-bottom: 50px;
}

.destacadaCubrir {
  background: linear-gradient(
      to right,
      rgba(5, 7, 12, 0.85) 15%,
      rgba(5, 7, 12, 0.35) 35%,
      transparent 40%
    ),
    linear-gradient(
      to bottom,
      transparent 0%,
      rgba(5, 7, 12, 0.4) 85%,
      #05070c 100%
    );
  position: absolute;
  inset: 0;
  z-index: 2;
}

.destacadaInfo {
  animation: fadeIn 0.8s ease forwards;
  position: relative;
  max-width: clamp(300px, 25vw, 800px);
  z-index: 2;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.85);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.destacada h1 {
  color: white;
  font-size: 1.46vw;
  margin-bottom: 18px;
  letter-spacing: 1px;
}

.destacada h2 {
  color: white;
  font-weight: bold;
  font-size: 1.7vw;
  margin-bottom: 12px;
  line-height: 1.1;
}

.destacada p {
  color: #b5b5b5;
  text-align: justify;
  font-size: 0.85vw;
  margin-bottom: 50px;
  line-height: 1.5;
}

.destacadaBotones {
  display: flex;
  gap: 20px;
}

.destacadaBotones a {
  color: white;
  transition: var(--transition);
  background: #ff4455;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  padding: 0.926vh 1.1458vw;
  border-radius: 6px;
}

.destacadaBotones a:hover {
  background: #ff1a24;
  transform: translateY(-3px);
}

.destacada-img {
  position: absolute;
  object-fit: cover;
  filter: brightness(75%);
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 1;
}

/* Categorizacion de Juegos */
.categorias {
  margin-bottom: 40px;
}

.categorias-titulo {
  font-size: 24px;
  margin-bottom: 15px;
  color: var(--textoBlanco);
}

.filas {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 10px;
}

.filas::-webkit-scrollbar {
  height: 8px;
}

.filas::-webkit-scrollbar-thumb {
  background: var(--fondoCarta);
  border-radius: 5px;
}

.portadas {
  min-width: clamp(160px, 18vw, 325px);
  background: var(--fondoCarta);
  transition: var(--transition);
  padding: 10px;
  border-radius: 12px;
  text-align: center;
}

.portadas a {
  text-decoration: none;
  color: white;
}

.portadas:hover {
  background: var(--fondoHover);
  transform: translateY(-5px);
}

.portadas img {
  object-fit: cover;
  float: center;
  width: 300px;
  height: 400px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.portadas h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

/* Estilos de los Puntajes */
.puntaje {
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
}

.puntajeVerde {
  background: green;
}

.puntajeCasiVerde {
  background: yellowgreen;
}

.puntajeAmarillo {
  background: orange;
}

.puntajeRojo {
  background: red;
}

.proximo {
  background: gray;
}

/* Formulario de Contacto */
.divisor {
  margin-bottom: 38px;
}

.formulario {
  background-color: var(--fondoFormulario);
  width: min(60rem, 100%);
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
}

.formulario fieldset {
  border: none;
}

.formulario legend {
  text-align: left;
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--textoBlanco);
}

@media (min-width: 768px) {
  .contenedor-campos {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 1rem;
    grid-template-rows: auto auto 20rem;
  }
  .campo:nth-child(3),
  .campo:nth-child(4) {
    grid-column: 1/3;
  }
}

.campo {
  margin-bottom: 1rem;
}

.campo label {
  color: var(--textoBlanco);
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.campo textarea {
  padding: 100px;
}

.input-text {
  background-color: white;
  border: none;
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.enviar .boton {
  background: var(--fondoBotones);
  color: white;
  font-style: bold;
  font-size: 16px;
  width: 100%;
  height: 48px;
  border-radius: 8px;
}

/* Pie de Pagina */
.footer {
  margin-top: 100px;
  text-align: center;
}
