/* FORMULARIO DE CONTACTO*/
.divisorFormulario {
  margin-bottom: 50px;
}

.formulario {
  background-color: var(--fondoFormulario);
  width: min(60rem, 100%);
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
}

.formulario fieldset {
  border: none;
}

.formulario legend {
  text-align: left;
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--textoBlanco);
}

@media (min-width: 768px) {
  .contenedor-campos {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 1rem;
    grid-template-rows: auto auto 20rem;
  }
  .campo:nth-child(3),
  .campo:nth-child(4) {
    grid-column: 1/3;
  }
}

.campo {
  margin-bottom: 1rem;
}

.campo label {
  color: var(--textoBlanco);
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.campo textarea {
  padding: 100px;
}

.input-text {
  background-color: white;
  border: none;
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
}
