:root {
  --fondoOscuro: #111418;
  --fondoClaro: #1a1e23;

  --fondoPortada: #1f2328;
  --fondoHover: #292e35;
  --fondoBotones: #226ccc;

  --Blanco: #ffffff;
  --Gris: #d3ddd9;

  --fondoFormulario: #1a1e23;

  --anchoBarraExpandida: 300px;
  --anchoBarraColapsada: 88px;
  --transition: 0.3s ease;

  font-family: "Poppins", system-ui, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--fondoOscuro);
  color: var(--Blanco);
  display: flex;
}

/* ESTILOS PARA MODO CLARO Y OSCURO*/
body.temaClaro {
  --fondoOscuro: #e2e2e2;
  --fondoClaro: #ffffff;

  --fondoPortada: #bdbdbd;
  --fondoHover: #acacac;

  --Blanco: #000000;
  --Gris: #444444;

  --fondoFormulario: #bdbdbd;
}

body.temaClaro .barraVerticalTabs img {
  filter: brightness(0) invert(0);
}

/*Dimensiones para todo contenido*/
.contenidoPrincipal {
  margin-left: var(--anchoBarraExpandida);
  width: calc(100% - var(--anchoBarraExpandida));
  transition: var(--transition);
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* PIE DE PAGINA*/
.footer {
  margin-top: 100px;
  text-align: center;
}
