main {
  flex: 1; /* Ocupa todo el espacio disponible */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 40px;
}

/* Estilos de la Imagen */
#imagenPerfil {
  object-fit: cover;
  width: 100%;
  height: 100%;
  grid-row: 1 / 6;
  grid-column: 1 / 2;
  border-radius: 12px 0 0 12px;
}

/* Estilos de Tarjeta (card) */
.card {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: auto auto auto auto auto;
  background: var(--fondoClaro);
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(18, 40, 60, 0.08);
  gap: 15px;
}

/* Estilos Tarjeta: h1 */
.card header h1 {
  text-align: center;
  font-size: 32px;
  grid-column: 2;
  grid-row: 1;
  padding: 20px 20px 0;
  margin: 0;
}

/* Estilos de Biografia */
.biografia {
  text-align: justify;
  color: var(--Gris);
  font-size: 20px;
  line-height: 1.5;
  grid-column: 2;
  grid-row: 2;
  padding: 0 20px;
  margin-top: 8px;
}

/* Estilos de Habilidades */
.habilidades {
  margin-left: 75px;
  grid-column: 2;
  grid-row: 3;
  padding: 0 20px;
}

/* Estilo de Pasatiempos */
.pasatiempos {
  margin-left: 75px;
  grid-column: 2;
  grid-row: 4;
  padding: 0 20px;
}

/* Estilos Habilidades y Pasatiempos: Listas*/
.habilidades h2,
.pasatiempos h2 {
  font-size: 24px;
  margin: 8px 0;
}

.habilidades li,
.pasatiempos li {
  color: var(--Gris);
  font-size: 20px;
  margin: 6px 0;
}

/* Estilos del Boton Redes */
.btnRedes {
  background: var(--fondoBotones);
  color: white;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  transition: transform 160ms ease, box-shadow 160ms ease, opacity 160ms;
  grid-column: 2;
  grid-row: 5;
  border-radius: 10px;
  padding: 10px 18px;
  margin: 20px;
}

/* Psuedo-clase: hover */
.btnRedes:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 24px rgba(31, 154, 255, 0.18);
  opacity: 0.98;
}

/* Estilos Responsive */
@media (min-width: 2560px) {
  .container {
    zoom: 1.35;
  }
}

@media (max-width: 640px) {
  .card {
    grid-template-columns: 1fr;
    padding-bottom: 20px;
  }

  #imagenPerfil {
    width: 100%;
    height: 240px;
    border-radius: 12px 12px 0 0;
  }

  .card header h1,
  .biografia {
    text-align: center;
    grid-column: 1 / -1;
  }

  .btnRedes {
    margin-left: auto;
    margin-right: auto;
  }
}
