/* CATEGORIAS DE JUEGOS */
.categorias {
  margin-bottom: 40px;
}

.categorias h2 {
  color: var(--Blanco);
  font-size: 22px;
  margin-bottom: 15px;
}

.filas {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 10px;
}

.filas::-webkit-scrollbar {
  height: 10px;
}

.filas::-webkit-scrollbar-thumb {
  background: var(--fondoCarta);
  border-radius: 5px;
}

.portadas {
  background: var(--fondoCarta);
  transition: var(--transition);
  text-align: center;
  width: 325px;
  padding: 10px;
  border-radius: 12px;
}

.portadas a {
  color: var(--Blanco);
  text-decoration: none;
}

.portadas:hover {
  background: var(--fondoHover);
  transform: translateY(-5px);
}

.portadas img {
  object-fit: cover;
  float: center;
  width: 300px;
  height: 400px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.portadas h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

@media (max-width: 1366px) {
  .categorias h2 {
    font-size: 18px;
  }

  .portadas {
    width: 230px;
    padding: 7.1px;
  }

  .portadas img {
    width: 213.4px;
    height: 284.4px;
  }

  .portadas h3 {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .categorias h2 {
    font-size: 6px;
    margin-bottom: 10px;
  }

  .filas {
    gap: 8px;
    padding-bottom: 6px;
  }

  .portadas {
    width: 50px;
    padding: 5px;
  }

  .portadas img {
    width: 74px;
    height: 100px;
  }

  .portadas h3 {
    font-size: 10px;
  }
}
