/* SECCION DE JUEGO DESTACADO (E33) */
.contenidoPrincipal {
  margin-left: var(--anchoBarraExpandida);
  width: calc(100% - var(--anchoBarraExpandida));
  transition: var(--transition);
  padding-left: 50px;
  padding-top: 50px;
}

.destacada {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 97.5%;
  height: 650px;
  padding: 50px;
  border-radius: 18px;
  margin-bottom: 50px;
}

.destacadaCubrir {
  background: linear-gradient(
      to right,
      rgba(5, 7, 12, 0.85) 15%,
      rgba(5, 7, 12, 0.35) 35%,
      transparent 50%
    ),
    linear-gradient(
      to bottom,
      transparent 50%,
      rgba(5, 7, 12, 0.4) 90%,
      #05070c 100%
    );
  position: absolute;
  inset: 0;
  z-index: 2;
}

.destacadaInfo {
  animation: fadeIn 0.8s ease forwards;
  position: relative;
  width: 480px;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.85);
  z-index: 2;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.destacada h2 {
  /*Estilos del text "juego del año"*/
  color: white;
  font-size: 28px;
  margin-bottom: 28px;
  letter-spacing: 1px;
}

.destacada h3 {
  /*Estilos del text "expedition: 33"*/
  color: white;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 12px;
  line-height: 1.1;
}

.destacada p {
  /*Estilos de la descripcion de expedition: 33*/
  color: #d3ddd9;
  text-align: justify;
  font-size: 18px;
  margin-bottom: 50px;
  line-height: 1.65;
}

.destacada img {
  /*Estilo de imagen de Expedition 33*/
  position: absolute;
  object-fit: cover;
  filter: brightness(75%);
  width: 100%;
  height: 100%;
  inset: 0;
}

@media (min-width: 2560px) {
  .destacada {
    height: 800px;
    width: 98%;
  }

  .destacadaInfo {
    width: 640px;
  }

  .destacada h2 {
    font-size: 36px;
  }

  .destacada h3 {
    font-size: 40px;
  }

  .destacada p {
    font-size: 22px;
  }
}

@media (max-width: 1366px) {
  .contenidoPrincipal {
    margin-left: 250px;
    width: calc(100% - 250px);
    padding-left: 35px;
    padding-top: 35px;
  }

  .destacada {
    height: 460px;
    width: 97%;
  }

  .destacadaInfo {
    width: 340px;
  }

  .destacada h2 {
    font-size: 20px;
  }

  .destacada h3 {
    font-size: 22.75px;
  }

  .destacada p {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
}
