/* ESTILO DE LOS PUNTAJES*/
.puntaje {
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 6px;
}

.puntajeVerde {
  background: green;
}

.puntajeCasiVerde {
  background: yellowgreen;
}

.puntajeAmarillo {
  background: orange;
}

.puntajeRojo {
  background: red;
}

.proximo {
  background: gray;
}

@media (max-width: 1366px) {
  .puntaje {
    padding: 4px 6px;
    font-size: 12px;
  }
}
